@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.containerPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/IMG/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 60px;
}

input{
    outline: 0;
    background-color: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

}

.loginBtn{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
    outline: 0;
    background-color: transparent;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form-group img{
    display: flex;
    position: relative;
    width: 50%;
    bottom: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.229);
    backdrop-filter: saturate(180%) blur(10px);
    width: 400px;
    height: 400px;
    padding: 50px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px;
    gap: 15px;
    

}

input{
    border-radius: 8px;
}

button:hover{
    background-color: #36a0d1;
    border-radius: 8px;
}